@import "var.css";
@import "normalize.css";

h1 {
    font-family: 'Fustat', sans-serif;
    color: var(--primary-light-text);
    font-weight: 800;
    font-size: 2rem;
}

body {
    background-color: var(--primary-background);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-background);
}

main {
    height: 80vh;
    background-color: var(--primary-background);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-background);
}

small {
    font-family: 'Fustat', sans-serif;
    color: var(--secondary-light-text);
    font-size: 0.5rem;
}

section.StartQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
    border-radius: 22px;
    background-color: var(--vive-background);
    border-color: rgba(240, 255, 255, 0.50);

    p {
        color: var(--primary-light-text);
        font-family: 'Fustat', sans-serif;
        font-size: 64px;
        font-weight: 600;
        margin: 0px;
    }
}

button:active {
    border-color: rgba(240, 255, 255, 0.25);
    background-color: var(--vive-hover-background);
}

h2 {
    color: var(--Secondary-light-text);
    font-family: 'Fustat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hidden {
    display: none !important;
}