@import "var.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fustat', sans-serif;
    color: var(--primary-light-text);
    font-weight: 800;
    font-size: 32px;
}

h2 {
    color: var(--primary-light-text);
    font-family: 'Fustat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    color: var(--secondary-light-text);
    font-family: 'Fustat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    background-color: var(--primary-background);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    height: 10vh;
    background-color: var(--secondary-background);

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        p {
            border: 1px solid;
            border-radius: 8px;
            border-color: var(--neutral-button);
            padding: 4px 8px;

            font-family: 'Fustat', sans-serif;
            color: var(--secondary-light-text);
            font-size: 16px;
            font-weight: 400;

            span {
                font-weight: 800;
            }
        }
    }

    .icon {
        width: 28px;
        height: 28px
    }
}

main {
    height: 80vh;
    background-color: var(--primary-background);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-background);
}

small {
    font-family: 'Fustat', sans-serif;
    color: var(--secondary-light-text);
    font-size: 0.5rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 24px;

    Article {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 650px;
    }

    label.card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 313px;
        height: 150px;
        gap: 12px;

        border-radius: 12px;
        border-bottom: 4px solid #5E5E5E;
        background: #252424;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #252424;
            cursor: pointer;
        }

        &:has(input:checked) {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #252424;
            border: 1px solid rgba(255, 255, 255, 0.10);
        }

        .radio-input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            pointer-events: none;
        }

        .plus {
            color: var(--secondary-light-text);
            font-family: 'Fustat', sans-serif;
            font-size: 28px;
            font-weight: 400;
        }
    }

    .Touch {
        display: flex;
        width: 64px;
        height: 64px;
        padding: 0 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;
        border-bottom: 0px solid #5E5E5E;
        background: #0D0D0D;

        p {
            color: var(--primary-light-text);
            font-family: 'Fustat', sans-serif;
            font-size: 32px;
            font-weight: 700;
        }
    }
}

button.Start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
    border-radius: 24px;
    background-color: var(--blue-button);
    border-color: rgba(240, 255, 255, 0.50);

    color: var(--primary-light-text);
    font-family: 'Fustat', sans-serif;
    font-size: 64px;
    font-weight: 600;

    &:active {
        border-color: rgba(240, 255, 255, 0.25);
        background-color: var(--bluehover-button);
    }
}

button.Next {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--neutral-button);
    border: none;

    font-family: 'Fustat', sans-serif;
    color: var(--primary-light-text);
    font-size: 16px;
    font-weight: 400;

    &:active {
        border-color: rgba(240, 255, 255, 0.25);
        background-color: var(--neutralhover-button);
    }
}

button.Reset {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--red-button);
    border: none;

    font-family: 'Fustat', sans-serif;
    color: var(--primary-light-text);
    font-size: 16px;
    font-weight: 400;

    &:active {
        border-color: rgba(240, 255, 255, 0.25);
        background-color: var(--redhover-button);
    }
}

.hidden {
    display: none !important;
}

section#EndQuiz {
    p {
        font-family: 'Fustat', sans-serif;
        color: var(--secondary-light-text);
        font-size: 64px;
        font-weight: 400;
    }

    p.Commentaire {
        color: var(--secondary-light-text);
        font-size: 18px;
    }
}