@import "var.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fustat', sans-serif;
    color: var(--primary-light-text);
    font-weight: 800;
    font-size: 2rem;
}

body {
    background-color: var(--primary-background);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-background);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--primary-background);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-background);
}

small {
    font-family: 'Fustat', sans-serif;
    color: var(--secondary-light-text);
    font-size: 0.5rem;
}

section.StartQuiz {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

button {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 21px;
    border-bottom: 12px solid #2E2E2E;
    background: #181818;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.45);

    color: var(--primary-light-text);
    font-family: "Fustat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

h2 {
    color: var(--Secondary-light-text);
    font-family: "Fustat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}