:root {
    /* Background Color*/
    --primary-background: #181818;
    --secondary-background: #252424;
    /* Button Color*/
    --blue-button: #0936c8;
    --bluehover-button: #051a5f;
    --neutral-button: #7a7a7a;
    --neutralhover-button: #565656;
    --red-button: #7e0000;
    --redhover-button: #460000;
    /* Text Color*/
    --primary-light-text: #FFFFFF;
    --secondary-light-text: #b2b2b2;
    --primary-dark-text: #000000;
    --secondary-dark-text: #1a1a1a;
}